# Compiled class files
out/
*.class

# IDE files
.idea
*.iml
.vscode/
.DS_Store
.idea/compiler.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
target/
